.logo {
    width: 175px;
}

.menu {
    width: 50px;
    height: 35px;
}

.MuiToolbar-root>* {
    flex: 1 0 33%;
}

.css-1e4vd54-MuiButtonBase-root-MuiButton-root:hover {
    background-color: unset !important;
}