.MuiDialogTitle-root {
	color: white;
}

.MuiDialogContent-root {
	color: white;
}

.MuiDialog-container .MuiPaper-root {
	background-color: rgba(22, 22, 22, 1) !important;
}

.MuiDialog-container .MuiInput-input {
	color: white !important;
}

.MuiDialog-container .MuiButton-root {
	color: white !important;
}