.titre_connexion {
	margin-top: 2rem;
	text-align: center;
	font-weight: 700;
	color: white;
}

.contenu_connexion input {
	padding: .7rem;
	border: none;
	border-radius: .5rem;
}

.contenu_connexion input:focus {
	outline: unset;
}

.contenu_connexion button {
	margin-bottom: 2rem;
	padding: .5rem 1rem;
	width: 100%;
	outline: unset;
	border: none;
	font-size: 1em;
}

.contenu_connexion fieldset {
	border-color: white;
}

.contenu_connexion label,
.contenu_connexion input {
	color: white;
}

.message_erreur {
	font-size: 0.9em;
	color: red;
}

/* Media Queries */
@media screen and (min-width: 425px) {
	.css-1tlyyk5 {
		width: 320px !important;
	}
}