.bouteille_img_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 125px;
}

.pastille_img {
	margin-left: -1rem;
	margin-top: -6.25rem;
}

.bouteille_img_container>a {
	height: 70%;
}

.bouteille_img {
	height: 115%;
	width: auto;
	box-sizing: border-box;
}

.titre_vin {
	margin: 0.5rem 1rem;
	font-size: 15px;
}


.saq_logo {
	margin-top: 2em;
	margin-right: 1em;
	height: 5%;
}

.bouteille_description {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	margin-bottom: 25px;
	color: white;
	font-size: 1em;
	font-weight: 500;
}

.bouteille_description>* {
	text-align: center;
	color: white;
}

.bouteille_description>a:visited {
	color: white;
}

.bouteille_boutons_container>* {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	padding: 1rem 2rem !important;
	width: 80% !important;
}

.bouteille_boutons_container {
	margin-bottom: 5px;
	margin-right: -1rem;
}

.bouteille_boutons_container>a {
	text-decoration: none;
}

.bouton_modifier {
	color: white;
	background-color: #641b30;
}

.bouteille_container {
	display: flex;
	flex-direction: column;
	gap: 0;
	flex: 1;
	padding: 0.5rem;
	width: 90vw;
	border-radius: .5em;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.content>a>p {
	width: fit-content;
}

.content>a {
	color: white;
}

.content>a:visited {
	color: white;
}

.content_container {
	display: flex;
	justify-content: space-between;
}

.content {
	padding-top: 1rem;
}

optgroup, option {
	background-color: rgba(0, 0, 0, 0.8)!important;
}

/* Media Queries */
@media screen and (min-width: 375px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 0.75rem !important;
	}
}

@media screen and (min-width: 425px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 1.75rem !important;
	}
}

@media screen and (min-width: 768px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.liste_bouteilles {
		flex-direction: row !important;
		max-width: 55% !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 26vw !important;
	}
}

@media screen and (min-width: 1024px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.liste_bouteilles {
		flex-direction: row !important;
		max-width: 55% !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 32vw !important;
	}
}

@media screen and (min-width: 1440px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.liste_bouteilles {
		flex-direction: row !important;
		max-width: 55% !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 23.75vw !important;
	}
}

@media screen and (min-width: 1920px) {
	.bouteille_container {
		max-width: 355px !important;
	}

	.liste_bouteilles {
		flex-direction: row !important;
		max-width: 55% !important;
	}

	.css-1j6u16s-MuiFormControl-root {
		margin-left: 29.85vw !important;
	}
}