.ajout_bouteille_cellier_titre {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.formulaire_ajout_bouteille_cellier input {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.formulaire_ajout_bouteille_cellier input:focus {
    outline: unset;
    border-color: white;
}

.formulaire_ajout_bouteille_cellier button {
    width: 100%;
    color: white;
    outline: unset;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: #641B30;
}

.formulaire_ajout_bouteille_cellier fieldset {
    border-color: white;
}

.MuiOutlinedInput.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: red;
}

.formulaire_ajout_bouteille_cellier legend {
    color: white;
}

.formulaire_ajout_bouteille_cellier label, .formulaire_ajout_bouteille_cellier input {
    color: white !important;
}

.recherche_saq {
    color: white;
}

.champs_recherche {
    color: black;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: white;
}

.MuiPaper-root .MuiList-root {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);

}

.MuiOutlinedInput-root-selected {
    border-color: white!important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: rgb(40, 86, 106) !important;
}

/* Media Queries */
@media screen and (min-width: 425px) {
    .formulaire_ajout_bouteille_cellier {
        max-width: 320px !important;
    }
}