
.liste_achat_container> * {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.liste_achat_rows {
    color :white !important;
}

.liste_achat_container > .button {
    color: white;
    /*width: 100%;
    outline: unset;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;*/
    background-color: #641B30;
}

.liste_achat_container > .liste_achat_effacer:hover {
    color: white;
    background-color: white;
    border:none;
}

.MuiTextField-root {
    color: red;
} 

.MuiDataGrid-root {
    color :white !important;
}

.liste_achat_rows .MuiCheckbox-root {
    color: white;
}

.liste_achat_rows .MuiDataGrid-root {
    border: none;
}

.MuiTablePagination-root {
    color: #ffffff;
}

.liste_achat_container .MuiToolbar-root {
    width: 250px;
    color: #ffffff;

}