.modif_bouteille_container>* {
    width: 80% !important;
}

.modif_bouteille_title {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.modif_bouteille_container input {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.modif_bouteille_container input:focus {
    outline: unset;
}

.modif_bouteille_container button {
    color: white;
    outline: unset;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: #641B30;
}

.modif_bouteille_container fieldset {
    border-color: white;
}

.modif_bouteille_container label,
.modif_bouteille_container input {
    color: white;
}

/* Media Queries */
@media screen and (min-width: 425px) {
    .modif_bouteille_container {
        width: 363px !important;

    }
}

@media screen and (min-width: 1920px) {
    .modif_bouteille_container {
        margin-top: 4vh !important;
    }
}